body{
    background-color:darkslateblue; 
}
h1{
    font-size: 100px;
    font-family: 'Orbitron', sans-serif;
}
h3{
    font-family: 'Orbitron', sans-serif;
}
.board{
    margin:10% auto;
    display:flex;
    width:300px;
    height:300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.square{
    height:100px;
    width:100px;
    border :2px solid black;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
    font-size:7em;
}
.square:hover{
    cursor:pointer;
    background-color: aquamarine;
}